<html>
    <head></head>
    <body>
        <form method="POST">
            Room name:
            <input type="text" name="room-name" value="" placeholder="Enter your room name">
            <input type="submit">
        </form>
    </body>
</html>
