<!DOCTYPE html>
<html>
  <head>
    <title>One Pomo</title>
    <link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
      #container {
        margin: 0 auto;
        text-align: center;
      }
      .timer-text {
        font-size: 48px;
        /* font-weight: bold; */
      }
      #wrong-text {
        text-decoration: line-through;
      }
      #right-text {
        font-family: 'Give You Glory', cursive;
        color: red;
        position: relative;
        top: -30px;
        font-size: 50px;
        font-weight: bold;
        -ms-transform: rotate(-10deg); /* IE 9 */
        -webkit-transform: rotate(-10deg); /* Safari */
        transform: rotate(-10deg);
      }
    </style>
  </head>
  <body>
    <div id="container">
    </div>
    <script src="javascripts/bundle.js"></script>
  </body>
</html>
