<!DOCTYPE html>
<html>
  <head>
    <title>One Pomo</title>
    <link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
      #container {
        margin: 0 auto;
        text-align: center;
      }
      .timer-text {
        font-size: 48px;
        /* font-weight: bold; */
      }
      #wrong-text {
        text-decoration: line-through;
      }
      #right-text {
        font-family: 'Give You Glory', cursive;
        color: red;
        position: relative;
        top: -30px;
        font-size: 50px;
        font-weight: bold;
        -ms-transform: rotate(-10deg); /* IE 9 */
        -webkit-transform: rotate(-10deg); /* Safari */
        transform: rotate(-10deg);
      }
    </style>
    <script type="text/jsx">
      var RTimer = React.createClass({
        getInitialState: function(){
          var socket = io();
          var self = this;
          socket.on('time-tick', function(data){
            var seconds = Math.round( (data % 1) * 60);
            var minutes = Math.floor(data);
            self.setState({
              time: (minutes <= 9 ? "0" + minutes : minutes)  +
              ':' + (seconds <= 9 ? "0" + seconds : seconds)
            });
          });

          return {time: "Loading timer.."}
        },
        render: function(){
          return (
          <h1 idName="timer" className="timer-text">{this.state.time}</h1>
          );
        }
      });
      React.render(
        <RTimer />,
        document.getElementById('timer')
      );
    </script>
  </head>
  <body>
    <div id="container">
      <!--  -->
      <div id="timer"></div>
      <div class="timer-text">Those who pomo together <br><br>
        <span id="wrong-text">stay together</span><br><br>
        <div id="right-text">Are more productive !!!</div>
      </div>
    </div>
    <script src="javascripts/bundle.min.js"></script>
  </body>
</html>
